*{
	box-sizing: border-box;
	margin: 0;
	
}
html {
	scroll-behavior:smooth;
}

body {
	margin: auto;
	
	
}

ul{list-style: none;}

button {
	font-size: 1em;
	font-weight: bold;
	padding: 10px 20px;
	border-radius: 18px;
	border: 1px solid rgba(0, 0, 0, 1.0);
	color: gray;
	background-color: whitesmoke;
	
}
button:hover {
	color: coral;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
	background-color: white;
	
}

#barra-navegacion, #events, #contact , #parrafo-bienvenida , #habitaciones, #kid-zone, #establishment, #events{
	max-width: 1000px;
	margin: auto;

}

header .logo {
	font-size: 2.5em;
	font-family: "Nanum Myeongjo" , serif;
	padding: 40px 30px ;
	margin: 0;
	text-align: center;
}



header nav {
	align-items: center;
	/*text-align: center;*/
	display: flex;
	flex-direction: column;
	padding: 25px;
	background-color: rgb(245, 245, 245);
	font-family: "Poppins" , sans-serif ;
}
header nav a{
	color: rgb(59, 59, 59);
}
header nav a:hover {
	color: rgb(219, 157, 41);
}

header nav a{
	text-decoration: none;
}

#bienvenida {
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	flex-direction: column;
	height: 90vh;
	background-image: linear-gradient(
		0deg,
		rgba(0,0,0,0.5),
		rgba(0, 0, 0, 0.5)
	),
		url(hotel.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	font-family: "Poppins" , serif;
	
}
#parrafo-bienvenida h2{
	font-size: 2.3em;
}

#habitaciones{
background-color: rgb(235, 216, 195);
 display: flex;
 flex-direction: column;
 /*justify-content:flex-start;*/
 align-items: center;
 padding: 100px 0px;
}
#habitaciones h2{
	font-family: "Poppins" , sans-serif;
	font-size: 3vh;
	padding: 20px 0px;
	margin: 0;
	text-align: left;
	color: rgb(166, 94, 9);
}
#habitaciones p{
	margin: 0;
	font-family: 'Thasadith', sans-serif;
	font-size: 1 em;
}



#ficha{
	font-family: "Poppins", sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 30px 80px;
	
}

#text-img{
	padding: 20px 40px ;
	margin: 0;
}

#img-hab img{
	height: 400px;
	width: 350px;
	object-fit: cover;
	border-radius: 5px;
	box-shadow: 5px 7px 15px rgba(143, 143, 143, 0.993);	
}
#carouselExampleFade{
	padding: 10px 10px;
}
#img-hab img:hover {
	box-shadow: 5px 7px 15px rgba(36, 36, 36, 0.993);
}

#zones{
	
	font-family: "Poppins", sans-serif;
	text-align: center;
	background-color: rgb(255, 246, 234);
	padding:20px 0px;
}
#zones ul {
	margin: 0;
}
#zones h4{
	padding: 50px 0px;
	font-size: 2vh;
	color: rgb(166, 94, 9);
}

#subtitulos-chicos{
	margin: 0;
}


#espacios{
	font-family: "Poppins", sans-serif;
	text-align: center;
	background-color: rgb(255, 238, 238);
	padding:20px 0px;
}
#espacios h4{
	padding: 50px 0px;
	font-size: 2vh;
	color: rgb(166, 94, 9);
}
.card-img-overlay{
	background-image: linear-gradient(
		0deg,
		rgba(0,0,0,0.5),
		rgba(0, 0, 0, 0.5)
	)
	,url();
	
}
#espacio-blanco{
	margin: 0;
	padding: 10px 0px;
}
#ubi{
	font-family: "Poppins", sans-serif;
	text-align: center;
	background-color: rgb(235, 216, 195);
	padding: 20px 10px 20px 10px;
	background-color: rgb(255, 246, 234);
	margin: 0 auto;
	
	
	
}
#ubi h4{
	text-align: center;
	margin: 0 auto;
	padding:10px 0px 30px 0px;
}
#map{
	border-radius: 12px;
	box-shadow: 0px 0px 10px rgba(114, 114, 114, 0.993)
}


#events{
	font-family: "Poppins", sans-serif;
	text-align: center;
	/*background-color: rgb(235, 216, 195);*/
	padding: 80px 0px;
	background-image: linear-gradient(
		0deg,
		rgba(235, 216, 195, 0.774),
		rgba(235, 216, 195)
	),
		url(evento.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		
}
#events div h2 {
	padding:0px 0px 60px 0px;
	margin: 0px;
	
	
}
#eventoparrafo {
	padding: 0px 70px;
	font-size: 1.4vh;
	margin: 0px;
	text-align:left;
	text-shadow: 0px 0px 30px rgb(0, 0, 0);
	
}

#contact{
	font-family: "Poppins", sans-serif;
	text-align:center;
	background-color: rgb(73, 66, 59);
	padding: 100px 0px;
}
#contact a{
	text-decoration: none;
	color: burlywood;
	
}

/*#ask{ 									esto es para el css del contacto.html
	font-family: "Poppins", sans-serif;
	text-align: center;
	background-color: rgb(245, 245, 245);
	align-items: center;
}*/