*{
	box-sizing: border-box;
	margin: 0;
	
}
html {
	scroll-behavior:smooth;
}

body {
	margin: auto;
	
	
}

ul{list-style: none;}

button {
	font-size: 1em;
	font-weight: bold;
	padding: 10px 20px;
	border-radius: 18px;
	border: 1px solid rgba(0, 0, 0, 1.0);
	color: gray;
	background-color: whitesmoke;
	
}
button:hover {
	color: coral;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
	background-color: white;
	
}

#barra-navegacion, #events, #contact , #parrafo-bienvenida , #habitaciones, #kid-zone, #establishment, #events{
	max-width: 1000px;
	margin: auto;

}

header .logo {
	font-size: 2.5em;
	font-family: "Nanum Myeongjo" , serif;
	padding: 40px 30px ;
	margin: 0;
	text-align: center;
}



header nav {
	align-items: center;
	/*text-align: center;*/
	display: flex;
	flex-direction: column;
	padding: 25px;
	background-color: rgb(245, 245, 245);
	font-family: "Poppins" , sans-serif ;
}
header nav a{
	color: rgb(59, 59, 59);
}
header nav a:hover {
	color: rgb(219, 157, 41);
}

header nav a{
	text-decoration: none;
}

#bienvenida {
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	flex-direction: column;
	height: 90vh;
	background-image: linear-gradient(
		0deg,
		rgba(0,0,0,0.5),
		rgba(0, 0, 0, 0.5)
	),
		url(hotel.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	font-family: "Poppins" , serif;
	
}
#parrafo-bienvenida h2{
	font-size: 2.3em;
}

#habitaciones{
/*background-color: rgb(235, 216, 195);*/
background-color: rgb(255, 239, 214);
 display: flex;
 flex-direction: column;
 /*justify-content:flex-start;*/
 align-items: center;
 padding: 60px 0px;
}

#habitaciones h2{
	font-family: "Poppins" , sans-serif;
	font-size: 30px;
	padding: 20px 0px;
	margin: 0;
	text-align: left;
	color: rgb(206, 110, 0);
}
#habitaciones p{
	margin: 0;
	font-family: 'Thasadith', sans-serif;
	font-size: 1 em;
}
.carousel-inner{
	border-radius: 8px;
}



#ficha{
	font-family: "Poppins", sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 30px 80px;
	
}

#text-img{
	padding: 20px 40px ;
	margin: 0;
}

#img-hab img{
	height: 400px;
	width: 350px;
	object-fit: cover;
	border-radius: 5px;
	box-shadow: 5px 7px 15px rgba(143, 143, 143, 0.993);	
}
#carouselExampleFade{
	padding: 10px 10px;
}
#img-hab img:hover {
	box-shadow: 5px 7px 15px rgba(36, 36, 36, 0.993);
}

#zones{
	
	font-family: "Poppins", sans-serif;
	text-align: center;
	background-color: rgb(255, 246, 234);
	padding:20px 0px;
}

#zones h4{
	padding: 50px 0px;
	font-size: 30px;
	color: rgb(206, 110, 0);
}

#subtitulos-chicos{
	margin: 0;
}


#espacios{
	font-family: "Poppins", sans-serif;
	text-align: center;
	background-color: rgb(255, 238, 238);
	padding:20px 0px;
}
#espacios h4{
	padding: 50px 0px;
	font-size: 25px;
	color: rgb(206, 110, 0);
}
.card-img-overlay{
	background-image: linear-gradient(
		0deg,
		rgba(0,0,0,0.5),
		rgba(0, 0, 0, 0.5)
	)
	,url();
}
.card-img-overlay button a {
	text-decoration: none;
	color: white;
}

#events{
	font-family: "Poppins", sans-serif;
	text-align: center;
	/*background-color: rgb(235, 216, 195);*/
	padding: 80px 0px;
	
	
	background-image: linear-gradient(
		0deg,
		rgba(0, 0, 0, 0.6),
		rgba(255, 238, 238, 0.979)
	),
		url(evento.jpg);
		
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;

}
#events div h2 {
	padding:0px 0px 60px 0px;
	margin: 0px;
	color: white;
	font-size: 30px;
}
#eventoparrafo {
	padding: 0px 70px;
	font-size: 14px;
	margin: 0px;
	text-align:center;
	text-shadow: 0px 0px 30px rgb(0, 0, 0);
	color: white;
}

#ubicacion{
	text-align: center;
	font-family: "Poppins", sans-serif;
	padding: 10px 0px 5px 0px;
	color: rgb(231, 164, 87);
}

#location{
	overflow:hidden;
	padding-bottom:60%;
	position:relative;
	height: 0;
	margin-bottom: 50px;
	
}

iframe{
	left:0;
	top:0;
	height:100%;
    width:81%;
    position:absolute;
	background-color: rgb(136, 111, 111);
	margin-left: 10%;
}

.comment{
	background-color: rgb(191, 146, 112);
	margin: 0px;
	padding-bottom: 50px;
}
.comment h2{
	color: white;
	padding: 50px 0px 50px 0px;
	text-align: center;
}
.comment h4{
	color: rgb(241, 206, 131);
	padding: 0px 30px 0px 30px;
}

.comment p{
	color: white;
	font-family: "Poppins", sans-serif;
	padding: 0px 30px 0px 30px;
	font-size: 14px;
	margin: 0px;
}




.contact{
	margin: auto;
	padding: 0px 20px 0px 20px;
	font-family: "Poppins", sans-serif;
	background-color: rgb(73, 66, 59);
	padding: 30px;
	box-sizing: border-box;
	width: auto;
	color: rgb(255, 243, 223);
	font-size: 12px;
}
.contact h1{
	color: rgb(255, 206, 126);
	font-size: 45px;
	margin:0;
	text-align: center;
	padding: 30px;
}

.contact h4{
	color: rgb(255, 206, 126);
	margin-top: 10px;
}



.contacto-datos{
	width: 100%;
	background-color: rgb(88, 80, 72);
	padding: 10px;
	border-radius: 4px;
	margin-bottom: 15px;
	border: none;
	font-size: 14px;
	color: white;
}

.boton{
	border: 1px solid black;
	border-radius: 4px ;
	padding: 12px;
	color: rgb(88, 80, 72);
	font-size: 16px;
	background-color: rgb(255, 206, 126) ;
	margin: auto;
	width: 100%;
}



/*#ask{ 									esto es para el css del contacto.html
	font-family: "Poppins", sans-serif;
	text-align: center;
	background-color: rgb(245, 245, 245);
	align-items: center;
}*/